*{padding: 0; marrgin: 0; box-sizing: border-box;}
body{
    overflow-x: hidden;

}
h1{
    font-family: 'Dancing Script', cursive;
}

.carousel-item img{
    width: 100%;
    height: 80%;
}

.card body img{
        min-width: 50%;
        max-height: 200px;
}